body {
  margin: 0px;
  background-color: antiquewhite;
}
main {
  margin: 0px;
}
header {
  background-color: #f48c24;
}
.navbar {
  text-decoration: none;
  color: black;
  padding: 15px;
  margin: 5px 10px 0px 10px;
  float: left;
  background-color: #f9be84;
  border-radius: 20%;
}
.navbar:hover {
  background-color: #f6c89a;
}

.main-header {
  background-color: #f48c24;
  padding-left: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  z-index: 1;
  border-bottom: black solid;
}
nav {
  position: absolute;
  right: 15px;
  display: flex;
  flex-direction: row;
}
.header-info a {
  padding: 0;
  text-decoration: none;
}
.header-info a:hover {
  background-color: transparent;
}
.headerIcon {
  width: 400px;
  margin: 0px;
  position: absolute;
}
.section-slider {
  display: flex;
  margin-left: 20px;
}
.image-slider {
  position: relative;
  width: 450px;
  height: auto;
}
.slide {
  width: 100%;
  position: absolute;
  clip-path: circle(0% at 0 50%);
}
.slide img {
  width: 100%;
  border-radius: 15px;
}
.about {
  background-color: antiquewhite;
  height: 650px;
  margin-top: 60px;
  padding: 40px;
}
.info {
  margin-left: 500px;
}
.slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}
.info-title {
  text-align: left;
  font-size: 50px;
  margin: 10px 0px;
  font-family: cursive;
}
.info-text {
  font-size: 25px;
  text-align: justify;
  margin-bottom: 0px;
}
.info-img {
  width: auto;
  height: 35%;
  margin: 15px;
  margin-left: 0px;
  border-radius: 10%;
  position: absolute;
  border-top: solid #f48c24;
  border-bottom: solid #f48c24;
}
.section-slider1 {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  height: 400px;
}
.image-slider1 {
  position: relative;
  width: 800px;
  display: flex;
  align-items: center;
}
.slide1 {
  width: 100%;
  position: absolute;
  border-radius: 15px;
  clip-path: circle(0% at 0 50%);
}
.slide1 img {
  width: 100%;
  border-radius: 15px;
}
.slide1.active1 {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}
.pages {
  height: 650px;
  background-color: antiquewhite;
  padding: 20px;
}
.page-container {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  margin-top: 50px;
}
.page {
  width: 300px;
  height: 460px;
  margin: 0px;
}
.page-img {
  border-radius: 20px;
}
.page:hover {
  scale: 1.05;
}
.page-img:hover {
  box-shadow: 0px 0px 20px rgb(167, 146, 120);
}
.title-text {
  text-align: center;
  font-size: 200%;
  font-family: cursive;
  font-weight: bolder;
}
.quotes {
  height: 230px;
  background-color: rgb(245, 142, 104);
  padding: 20px;
}
.quote-container {
  margin: 30px;
}
.title-info {
  text-align: center;
}
span {
  color: orangered;
}
.source-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.source-container iframe {
  flex: 1; /* Each iframe takes equal width within the flex container */
  min-width: 40%;
  max-width: 40%; /* Adjust the max-width based on the gap */
  box-sizing: border-box;
  height: 300px;
}
iframe {
  margin: 20px 40px;
}
.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s;
}
.active2 {
  transform: translateY(0px);
  opacity: 1;
}
footer {
  background-color: rgb(90, 81, 70);
  padding: 50px;
}
.footer-info {
  color: white;
  text-align: center;
}
.dropdown {
  display: inline-block;
  width: 120px;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  right: auto;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  width: 92px;
  display: block;
  text-decoration: none;
  margin: 5px;
  background-color: #f9be84;
  opacity: 1;
}
.dropdown-content a:hover {
  background-color: #f6c89a;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#survey-box {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="radio"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
